[role="presentation"] {
    width: 500px;
    height: 432px;
    background: grey;

    margin-top: 64px;
    margin-right: auto;
    margin-bottom: 64;
    margin-left: auto;

    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;

    border-top: 16px solid red;
    border-right: 16px solid yellow;
    border-bottom: 16px solid green;
    border-left: 16px solid blue;
}